.bar-section.bar-section_theme_dark {
    background-color: #121212;
    color: #d1c3c3;
    fill: #d1c3c3;
    font-weight: 400;
    border-right: 1px solid rgb(82, 79, 79);
}

.bar-section.bar-section_theme_dark .bar-section__labels-list-item {
    // border-bottom: 1px solid rgb(82, 79, 79)
}

.bar-section.bar-section_theme_dark .bar-section__add-new-folder-btn {
    background-color: #303030;
}

.bar-section.bar-section_theme_dark .todo-lists-folder__create-new {
    margin-right: 5px;
    background-color:#706b6b;
    &::placeholder {
      color: #d1c3c3;
    }
}

.bar-section.bar-section_theme_dark .todo-lists-folder__create-new {
    background-color: transparent;
    border: 1px solid gray;
    color: #d1c3c3;
    &:hover {
        background-color: transparent;
    }
}

