.todolist__edit-mobile {
  width: 85%;
  margin: auto;
  padding: 5px 10px; }

.todolist__edit-mobile-btn {
  width: 100%;
  margin: auto;
  padding: 0 5px;
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none; }

.todolist__edit-mobile-active {
  box-shadow: 0 0 10px gray; }

.todo-list.todolist__edit-mobile-active:hover {
  background-color: #fff; }

.todolist__edit-mobile-icon {
  margin-right: 25px; }
