.todos-settings {
    // position: absolute;
    position: fixed;
    bottom: 40px;
    left: 45%;
    transform: translateX(-45%);
    @media (max-width: 767px) {
        bottom: 3vh;
        position: fixed;
    }
}

.todos-settings-btn-wrapper {
    padding: 8px 0;
    width: 240px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: hsla(0, 100%, 100%, .75);
    transition: all .3s linear;
    @media (max-width: 767px) {
        padding: 4px 0;
        background-color: hsla(0, 100%, 100%, .5);

    }
    
}

.todos-settings-btn-wrapper:hover {
    background-color: hsla(0, 100%, 100%, 1);

}

.todos-settings-sort-btn,
.todos-settings-more-btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.todos-settings-sort-btn svg,
.todos-settings-more-btn svg{
    margin: auto;
    margin-bottom: 5px;
}



.todos-settings-sort-btn {
    margin-right: 15px;
}

.todos-settings-btn-icon {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.todo-settings-btn-text {
    text-align: center;
}

.todo-settings-btn-text--active {
    color: #2b96f1;
}

.options-list-popup {
    width: 240px;
    margin: 0;
    margin-bottom: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    @media (max-width: 767px) {
        box-shadow: 0 0 10px gray;
    }
}

.todos-option {

}

.todos-option-icon {
    margin-right: 15px;

}

.todos-option-text {

}

.todos-option-btn {
    background-color: hsla(0, 100%, 100%, .75);
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    outline: none;
    padding-left: 12px;
    display: flex;
    align-items: center;
    border: none;
    transition: all .3s linear;
    @media (max-width: 767px) {
        background-color: hsla(0, 100%, 100%, .95);
        display: none;
    }
}

.todos-option-btn:hover {
    background-color: hsla(0, 100%, 100%, 1);
}

.disturb-status {
    margin-left: 30px;
}

