.visible-completed-todos-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 10px;
}

.visible-completed-todos-button {
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 2px 10px;
    background-color: rgb(153, 146, 146);
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    @media (max-width: 767px) {
        opacity: .75;
        width: 80%;
        padding: 10px 4px;
    }
}

.eye-visible {
    font-size: 23px;
    text-decoration: line-through;;
}

.eye-not-visible {

}