.todo-note {
    background-color: #fff2ab;
    width: 100%;
    resize: none;
    height: 130px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px gray;
    outline: none;
    margin-bottom: 15px;
}