.todo-full-info-wrapper {
  padding: 0;
  position: relative;
  background-color: #dcdee4;
  padding-bottom: 90px;
  overflow: auto; }
  @media (max-width: 767px) {
    .todo-full-info-wrapper {
      padding-bottom: 0;
      position: static; } }

@media (max-width: 767px) {
  .todo-full-info-wrapper.desktop {
    display: none; } }

.close-icon {
  width: 13px;
  height: 13px;
  display: block; }

@media (min-width: 768px) {
  .todo-full-info-mobile {
    display: none; } }
