.todo-list-settings__panel {
    padding: 8px 0;
    width: 240px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: hsla(0, 100%, 100%, .75);
    transition: all .3s linear;
    &:hover {
        background-color: hsla(0, 100%, 100%, 1);
    }
    @media (max-width: 767px) {
        padding: 4px 0;
        background-color: hsla(0, 100%, 100%, .5);

    }
}