.authorization {
  width: 100%;
  height: 100vh;
  background: #00b09b;
  background: linear-gradient(to right, #6e9b20, #00b09b);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 350px) {
    .authorization {
      padding: 0 5px; } }

.registration,
.introduction
.login {
  text-align: center; }

.authorization__show-invalid-message {
  outline: none;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.authorization__invalid-icon {
  width: 18px;
  height: 18px; }
