.authorization-languages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999999999999;
  font-size: 13px; }

.authorization-languages__icon {
  width: 30px;
  height: 30px; }

.authorization-languages__btn {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0 4px; }
  .authorization-languages__btn:hover {
    background-color: gray; }

.authorization-languages__btn-text {
  color: #3d3b3b;
  font-weight: bold; }

.authorization-languages__language {
  margin-top: 3px; }
