.todo-full-info {
    padding: 0;
    position: relative;
    background-color: #dcdee4;
    padding-bottom: 90px;
    overflow: auto;
    @media (max-width: 767px) {
        // display: none;
        padding-bottom: 0;
        position: static;
    }
}



// .todo-full-info-wrapper.desktop {
//     @media (max-width: 767px) {
//         display: none;
//     }
// }

// .close-icon {
//     width: 13px;
//     height: 13px;
//     display: block;
// }


// // EVENT-CLASSES
// // .todo-full-info-wrapper
// .todo-full-info-mobile {
//     @media (min-width: 768px) {
//         display: none;
//     }
// }