.edit-list-label__delete-todo-list {
    padding: 3px 0;
    position: absolute;
    left: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
}