.todos {
  background-color: #385e38;
  padding: 15px 10px;
  font-family: sans-serif;
  background-image: url("../img//background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: auto; }
  .todos.dark-theme {
    background-color: #121212;
    color: #d1c3c3;
    background-image: none; }
  @media (max-width: 767px) {
    .todos {
      padding-top: 80px;
      padding-bottom: 130px; } }

.todo-completed,
.todo-uncompleted__inner-wrapper {
  display: flex;
  height: 36px;
  padding: 7px 15px;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px; }
  @media (max-width: 767px) {
    .todo-completed,
    .todo-uncompleted__inner-wrapper {
      height: 41px; } }

.todo-uncompleted {
  background-color: #fff;
  border-radius: 4px; }
  .todo-uncompleted.dark-theme {
    background-color: #303030;
    box-shadow: 0 0 2px #fff; }

.todo-completed {
  opacity: .5;
  text-decoration: line-through; }
  .todo-completed.dark-theme {
    background-color: #272626; }
  @media (max-width: 767px) {
    .todo-completed {
      opacity: .65; } }

.completed-todo__check,
.todo-completed__check,
.todo-uncompleted__check {
  width: 18px;
  height: 18px;
  margin-right: 10px; }

.todo-uncompleted__pin-btn,
.importantly-button,
.pin-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0; }
  @media (max-width: 767px) {
    .todo-uncompleted__pin-btn,
    .importantly-button,
    .pin-button {
      right: 3px; } }

.todo__icon-star,
.todo__icon-pin {
  width: 21px;
  height: 21px; }

.todo__icon-star--inactive {
  fill: transparent;
  stroke: #000;
  stroke-width: 1px; }

.todo__icon-star--active {
  fill: #ffc107; }

.todo__icon-pin--active {
  fill: #e4002b; }

.todo-uncompleted.dark-theme .todo__icon-star--inactive,
.todo-uncompleted.dark-theme .todo__icon-pin--inactive {
  stroke: #d1c3c3;
  stroke-width: 2px;
  fill: transparent; }

.icon__pin--inactive {
  stroke: #000;
  fill: none; }

.pin-button {
  right: 33px; }

.importantly-icon,
.pin-icon {
  width: 21px; }

.completed-todo-list,
.uncompleted-todo-list {
  margin-bottom: 15px; }

.uncompleted-todo__text.open-task {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent; }

.todo__manipulations_hidden {
  display: none; }
