body *{
    box-sizing: border-box;
    font-family: sans-serif;
}

// body.dark * {
//     background-color: #121212;
//     color: rgb(209, 195, 195);
// }

body ul {
    padding-inline-start:0;
    list-style: none;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}


body img {
    display: block;
}

.inactive {
    filter: blur(1.1px);
}


.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}

.container {
    // max-width: 1900px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1.5fr;
    height: 100vh;
    display: none;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}


