.icon {
    width: 24px;
    height: 24px;
}

.icon--medium-size {
    width: 18px;
    height: 18px;
}

.icon--small-size {
    width: 13px;
    height: 13px;
}



.icon--pen {
    width: 18px;
    height: 18px;
}

.icon__star--active {
    fill: #ffc107;
}

.icon__star--inactive {
    fill: transparent;
    stroke: #000;
    stroke-width: 1px;
}

.icon--mute-active {
    fill: #2b96f1;
}

.icon--todo-settings-active {
    fill: #2b96f1;
}

.icon--todo-settings {
    margin-right: 15px;
}

.icon__todo-icon {
    width: 21px;
    height: 21px;
}

.icon__pin--active {

}

.icon__pin--inactive {
    stroke: #000;
    fill: none;
}

.icon--full-info-options {
    margin-right: 10px;
}

.icon--bar {
    margin-right: 5px;
}