.icon {
    width: 24px;
    height: 24px;
}

.icon--medium-size {
    width: 18px;
    height: 18px;
}

.icon--small-size {
    width: 13px;
    height: 13px;
}



.icon--pen {
    width: 18px;
    height: 18px;
}



.icon--mute-active {
    fill: #2b96f1;
}









.icon--full-info-options {
    margin-right: 10px;
}

.icon--bar {
    margin-right: 5px;
}