.todo-manipulations-wrapper {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    padding: 10px;

    @media (max-width: 767px) {
        position: static;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

    }
}

.todo-manipulations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-todo-info,
.delete-todo {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.close-todo-info {
    border: 1px solid gray;
    padding: 4px;
    padding-bottom: 1px;
}

.todo-manipulations-icons {
    width: 19px;
    height: 19px;
}

.creted-by {
    color: gray;
}

.delete-todo {

}

.add-comment-wrapper {

}

// .add-comment-form {
//     display: grid;
//     grid-template-columns: 10fr 1fr;
//     grid-column-gap: 5px;
// }

// .add-comment-form input {
//     border: 1px solid gray;
//     padding: 6px 15px;
//     border-radius: 3px;
//     outline: none;
// }

// .add-comment-form button {
//     border: 1px solid gray;
//     border-radius: 3px;
//     background-color: transparent;
//     padding: 0 16px;
//     cursor: pointer;
//     color: gray;
//     transition: all .3s linear;
//     outline: none;
// }

// .add-comment-form button:hover {
//     box-shadow: inset 0px 0px 5px rgb(207, 203, 203);
// }